# Virtual environment
.venv/
venv/

# Byte-code files
*.pyc
__pycache__/

# Flask-specific
instance/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# Distribution and build artifacts
dist/
build/
*.egg-info/