# Virtual environment
.venv/
venv/

# Byte-code files
*.pyc
__pycache__/

# Flask-specific
instance/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# Distribution and build artifacts
dist/
build/
*.egg-info/

# experiment folder content
experiment

# Secrets
*.pfx

# Tooling and caches
.uv/
*.log
.DS_Store
Thumbs.db